* {
  all: unset;
  font-family: "Iosevka Term";
  font-size: 18px;
}

window {
  background-color: rgba(18, 18, 18, 1.0);
  border: 2px solid rgba(128, 128, 128, 0.25);
  border-radius: 12px;
}

#entry {
  color: #303030;
  padding: 16px;
}

#entry:selected {
  color: #f5f5f5;
  padding-left: 24px;
}

#input {
  padding: 12px;
  margin: 6px;
}

image {
  color: #505050;
  padding-left: 2px;
  padding-right: 24px;
}
