* {
  font-family: "Roboto", "Iosevka Nerd Font", "Noto Sans CJK JP";
  font-size: 22px;
}

window {
  border: 0px solid #11111b;
  border-radius: 8px;
}

window,
.bar-widget {
  background-color: #1e1e2e;
  padding: 3px;
  margin: 4px;
}

.nothing,
.bar-tray,
.bar-time {
  background-color: #313244;
  border: 0px solid #000000;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}

.bar-workspace {
  background-color: #313244;
  border: 0px solid #ffffff;
  border-radius: 8px;
  margin: 1px;
  padding: 6px;
}

.bar-active-ws {
  padding: 0px 4px;
}

.bar-occupied-ws {
  padding: 0px 4px;
  color: #505050;
}

.bar-text {
  padding-right: 8px;
  color: #94e2d5;
}

.bar-icon {
  padding: 0px 8px;
}
