* {
  all: unset;
  font-family: "Iosevka Nerd Font", "Noto Sans CJK JP";
  font-size: 16px;
}

window {
  border: 2px solid #505050;
  background-color: rgba(8, 8, 8, 1.0);
}

window,
.bar-widget {
  border-radius: 12px;
  padding: 3px;
  margin: 4px;
}

tooltip.background {
  background-color: rgba(0, 0, 0, 1.0);
}

.nothing,
.bar-tray,
.bar-time {
  background-color: rgba(40, 40, 40, 0.5);
  border: 0px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
  padding: 5px;
  margin: 2px;
}

.bar-workspace {
  background-color: rgba(40, 40, 40, 0.5);
  border: 0px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
  margin: 1px;
  padding: 6px;
}

.bar-active-ws,
.bar-occupied-ws,
.bar-ws {
  padding: 0px 6px;
  font-size: 20px;
}

.bar-occupied-ws {
  color: rgba(80, 80, 80, 0.5);
}

.bar-text {
  padding-right: 8px;
  margin-left: -2px;
  color: #f5f5f5;
  font-size: 22px;
}

.bar-icon {
  padding: 0px 8px;
}

.bar-slide-text {
  padding-right: 8px;
}

.bar-calendar {
  border: 2px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
}

calendar {
  border: 0px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
}

calendar:selected {
  background-color: rgba(80, 80, 80, 0.5);
}

calendar.button {
  background-color: transparent;
  margin-top: 20px;
}

calendar:indeterminate {
  color: #505050;
}

.bar-cal-text {
  color: #f5f5f5;
}

.bar-cal-time {
  padding-top: 20px;
  font-size: 56px;
}

.bar-cal-date {
  font-size: 18px;
}

.bar-date-widget {
  background-image: url("images/cal-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(80, 80, 80, 0.5);
  margin: 12px;
  border: 0px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
}

scale {
  padding: 6px;
}

scale trough {
  background-color: rgba(80, 80, 80, 0.5);
  min-height: 12px;
  min-width: 100px;
  border-radius: 12px;
}

scale trough highlight {
  background-color: #f5f5f5;
  border-radius: 12px;
}
