.widget {
  all: unset;
  background-color: #ffffff;
  margin: 12px;
  border: 1px solid rgb(125, 125, 125);
  border-radius: 8px;
}

.button {
  all: unset;
  background-color: rgba(25, 25, 25, 0.75);
  border: 1px solid rgb(125, 125, 125);
  border-radius: 8px;
  &:hover {
    background-color: rgba(25, 25, 25, 0.25);
  }
}
