* {
  font-size: 14px;
}

.workspace {
  font-family: "Noto Sans CJK JP";
}

.wifi-str {
  padding-right: 12px;
}

.active-ws {
  color: #F3F3F3;
}

.ws {
  color: #505050;
}

window,
.bar {
  padding: 3px 6px;
  margin: 5px;
  background-color: transparent;
}

.workspace,
.wn-wid,
.side,
.time,
.date,
.cpu,
.memory {
  background-color: #000000;
  padding: 0px 8px;
  margin: 0px 4px;
  border: 1px solid #5F5F5F;
  border-radius: 2px;
}

.bat {
  padding-right: 3px;
}

.vol {
  padding-right: 3px;
}

.bt,
.bt-btn {
  all: unset;
  padding-right: 3px;
}
