* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK JP";
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

.bar {
  background-color: rgba(50, 50, 50, 0.25);
}

.tray,
.workspaces,
.time {
  margin: 8px;
  padding: 6px;
  border-radius: 8px;
  background-color: rgba(50, 50, 50, 0.5);
}

.active-ws {
  font-weight: bold;
}

.occupied-ws {
  color: #505050 /* rgba(50, 50, 50, 0.5) */;
}

.active-ws,
.occupied-ws {
  padding: 0px 4px;
}

.icon {
  padding: 0px 6px;
}

.clock-icon {
  padding-left: 4px;
}

.time-slide-text {
  padding-left: 8px;
}

scale {
  padding: 6px;
}

scale trough {
  background-color: rgba(80, 80, 80, 0.5);
  min-height: 12px;
  min-width: 100px;
  border-radius: 12px;
}

scale trough highlight {
  background-color: #f5f5f5;
  border-radius: 12px;
}
