* {
  all: unset;
}

.screenshooter {
  background-color: rgba(8, 8, 8, 1.0);
  /*border-radius: 12px;*/
}

.active,
.inactive {
  /*border-radius: 12px;*/
  padding: 12px;
  margin: 12px;
}

.active {
  background-color: rgba(50, 50, 50, 0.75);
}

.inactive {
  background-color: transparent;
}
