$main-color: rgba(#121212, 1.0);
$box-color: rgba(#f5f5f5, 0.1);

* {  }

.screenshooter {
  background-color: $main-color;
  border: 2px solid $box-color;
  border-radius: 12px;
}

.active,
.inactive {
  border-radius: 12px;
  padding: 12px;
  margin: 12px;
}

.active {
  background-color: $box-color;
}

.inactive {
  background-color: transparent;
}
