@import "../base";

window.AppsWindow {
    background-color: $bg;
    color: $fg;
    border: 2px solid $border;
    border-radius: $outrad;
}

// Buttons

button.focused {
    background-color: $fg;
    color: $alt-bg;

    &:hover {
        background-color: rgba($fg, 0.75);
    }
}


// Icon sizes

.Runner > icon {
    font-size: 18px;
}


// App launcher

box.apps-box {
    margin: 8px;
}

box.apps-box > * {
    border-radius: $inrad;
}

entry.app-search {
    all: unset;
    padding: 12px;
    margin: -6px;
    margin-bottom: 0px;
    border-radius: 0px;
    border-top-left-radius: $outrad;
    border-top-right-radius: $outrad;
    border-bottom: 2px solid $border;
    background-color: rgba($fg, 0.05);
}

entry.app-search * {
    padding-right: 8px;
}
