@import "../base";

window {
    background: none;
}

.all-container {
    background-color: $bg;
    color: $fg;
    border: 2px solid $border;
    border-radius: $outrad;
}

.controls-container {
    padding: 10px;
}

.top-label {
    padding: 8px 16px;
    border-top-left-radius: $inrad;
    border-top-right-radius: $inrad;
    border-bottom: 2px solid $border;
    background-color: $alt-bg;
    font-size: 125%;
}

scale trough {
    min-width: 100px;
    min-height: 12px;
}
