$bg: #121212;
$fg: #f5f5f5;
$accent: #378DF7;
$rad: 8px;

* {
    box-shadow: none;
    font-weight: bold;
    border-radius: $rad;
}

window.Bar, window.NCWindow, window.AppsWindow {
    background-color: $bg;
    color: $fg;
    border-radius: 0px;
}

window.Bar > * {
    padding: 8px 16px;
}

window.Notifications {
    background: none;
}

window.NCWindow, window.AppsWindow {
    border-radius: $rad;
    border: 2px solid rgba($fg, 0.1);
}

// Boxes

box {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}

box.Workspaces {
    background-color: rgba($fg, 0.1);
    padding: 2px;
    border-radius: 8px;
}

window.NCWindow > * {
    padding: 0px 4px;
}

// Buttons

button * {
    background-color: transparent;
    border-radius: $rad;
}

button {
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 4px 4px;

    &:hover {
        background-color: rgba($fg, 0.1);
    }
}

.Workspaces button {
    padding: 2px 8px;
    border-radius: 8px;
}

button.focused {
    background-color: $fg;
    color: $bg;

    &:hover {
        background-color: rgba($fg, 0.75);
    }
}

button.tray-item {
    background: none;
    padding: 0px;

    &:hover {
        background: none;
    }
}

button.action {
    background-color: rgba($fg, 0.1);
    margin: 2px;
    border-radius: $rad;

    &:hover {
        background-color: rgba($fg, 0.1);
    }
}

button.notification-button * {
    font-size: 18px;
    padding: 2px 4px;
}

button.notification-active-button * {
    font-size: 24px;
    padding: 0px 1px;
}

// Icon sizes

icon {
    font-size: 24px;
    font-weight: normal;
    padding: 4px;
}

icon.tray-g-icon {
    font-size: 20px;
}

.Runner > icon, .Battery {
    font-size: 18px;
}

icon.notification-icon {
    font-size: 48px;
    border-radius: $rad;
}


// .Battery {
//     font-size: 20px;
// }


// Notification

box.Notification {
    background-color: $bg;
    border-radius: $rad;
    border: 2px solid rgba($fg, 0.1);
    padding: 2px;
    margin: 4px;
}

box.Notification box, box.NC box {
    background-color: $bg;
    border-radius: $rad;
    padding: 1px;
}

.notification-body * {
    // font-weight: normal;
    padding: 0px;
    margin: 0px;
    border: none;
    padding-right: 4px;
}

box.nc-top-label {
    padding: 4px;
    padding-bottom: 0px;
    margin: 4px;
    margin-bottom: 0px;
    border-radius: 0px;
    //border-bottom: 2px solid rgba($fg, 0.1);
    font-size: 150%;
}

.nc-no-notifications-label {
    padding: 8px;
    margin: 4px;
    margin-top: 0px;
    border-radius: 0px;
    border-top: 2px solid rgba($fg, 0.1);
}

.notification-app-name-time {
    font-size: 80%;
    color: rgba($fg, 0.75);
}

.nc-scrollable, .nc-scrollable > * {
    background: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px;
    border: 0px;
    border-radius: $rad;
}

box.nc-container {
    margin: 4px;
}


// App launcher

box.apps-box {
    margin: 8px;
}

entry.app-search {
    all: unset;
    padding: 8px;
    background-color: rgba($fg, 0.05);
    border: 2px solid rgba($fg, 0.1);
    border-radius: $rad;
}
