* {
  all: unset;
  font-family: "Iosevka Nerd Font", "Noto Sans CJK JP";
  font-size: 16px;
}

tooltip.background {
  background-color: rgba(0, 0, 0, 1.0);
}

.control-center {
  background-color: rgba(12, 12, 12, 1.0);
  border: 2px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
}

.end {
  background-color: transparent;
  border: 0px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
  margin: 8px;
}

.mid {
  background-color: rgba(40, 40, 40, 0.5);
  border: 0px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
  margin: 8px;
}

.circle {
  padding: 24px;
}

button {
  padding: 4px 20px;
  font-size: 26px;
}

.wifi,
.bluetooth,
.themes,
.mic,
.volume,
.brightness {
  background-color: rgba(40, 40, 40, 0.5);
  padding: 12px;
  border: 0px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
  margin: 8px;
}

.icon {
  padding: 8px;
}

.player {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(40, 40, 40, 0.5);
  min-height: 125px;
  padding: 1em 1em;
  border-radius: 12px;
  font-family: "Roboto";
  font-size: 18px;
  text-shadow: 0px 0px 2 #000000, 0px 0px 2 #000000, 0px 0px 2 #252525, 0px 0px 2 #505050, 0px 0px 2 #252525;
}

.player-controls {
  margin: 8px;
}

.icon-circle {
  margin: 20px;
}

scale {
  padding: 8px;
}

scale trough {
  background-color: rgba(80, 80, 80, 0.5);
  min-height: 24px;
  border-radius: 12px;
}

scale trough highlight {
  background-color: #f5f5f5;
  border-radius: 12px;
}
