* {
  all: unset;
  font-family: "Iosevka Nerd Font", "Noto Sans CJK JP";
  font-size: 16px;
}

tooltip.background {
  background-color: rgba(0, 0, 0, 1.0);
}

.calendar {
  background-color: rgba(12, 12, 12, 1.0);
  border: 2px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
}

calendar {
  border: 0px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
}

calendar:selected {
  all: unset;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 0px;
}

calendar.button {
  background-color: transparent;
  margin-top: 20px;
}

calendar:indeterminate {
  color: #505050;
}

.text {
  color: #f5f5f5;
}

.time {
  padding-top: 20px;
  font-size: 56px;
  text-shadow: 0px 0px 2 #000000, 0px 0px 2 #000000, 0px 0px 2 #252525, 0px 0px 2 #505050, 0px 0px 2 #252525;
}

.date {
  font-size: 18px;
  text-shadow: 0px 0px 2 #000000, 0px 0px 2 #000000, 0px 0px 2 #252525, 0px 0px 2 #505050, 0px 0px 2 #252525;
}

.date-widget {
  background-image: url("../images/cal-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(80, 80, 80, 0.5);
  margin: 12px;
  border: 0px solid rgba(80, 80, 80, 0.5);
  border-radius: 12px;
}
