@import "../base";

window.Bar {
    background-color: $bg;
    color: $fg;
    border-radius: 0px;
    border-top: 2px solid $border;
}

window.Bar > * {
    padding: 8px 16px;
}

.Separator {
    padding: 0px 8px;
}

box.Workspaces {
    background-color: $alt-bg;
    padding: 2px;
    border-radius: 8px;
}

.Workspaces button {
    padding: 2px 8px;
    border-radius: 8px;
}

button.focused {
    background-color: $fg;
    color: $alt-bg;

    &:hover {
        background-color: rgba($fg, 0.75);
    }
}

menu {
    background-color: $bg;
    padding: 8px;
    border: 2px solid rgba($border, 0.25);
    border-radius: $outrad;
}

menuitem {
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 4px 0px;
    border-radius: $inrad;

    &:hover {
        background-color: rgba($fg, 0.1);
    }
}

button.tray-item {
    background: none;
    padding: 0px;

    &:hover {
        background: none;
    }
}

icon {
    padding: 4px;
}

icon.tray-g-icon {
    font-size: 20px;
}

icon.notification-icon {
    font-size: 24px;
    border-radius: $inrad;
}
