* {
  all: unset;
  padding: 3px;
}

.back {
  margin: 10px;
  border: 1px solid #26233a;
  border-radius: 12px;
  background-color: #151515;
}

.wifi-btn,
.bt-btn,
.vol,
.br {
  background-color: #191724;
  margin: 5px;
  border: 1px solid #26233a;
  border-radius: 8px;
  font-size: 24px;
}

.wifi-btn {
  padding-right: 10px;
}

.time {
  margin-top: 10px;
  font-size: 26px;
}

.vol,
.br {
  margin: 5px 10px;
  & scale trough {
    all: unset;
    background-color: #151515;
    border-radius: 50px;
    & highlight {
      all: unset;
      background-color: #26233a;
      color: #000000;
      border-radius: 10px;
    }
  }
}
