# Base16 {{scheme-name}} - foot color config
# {{scheme-author}}
term=foot-extra
font=Iosevka Term:size=14, FantasqueSansM Nerd Font Mono:size=14
pad=16x16

[colors]
alpha=1.0
background={{base00-hex}}
foreground={{base05-hex}}

# Normal colors
regular0={{base00-hex}} # Black, could also be base01
regular1={{base08-hex}} # Red
regular2={{base0B-hex}} # Green
regular3={{base0A-hex}} # Yellow
regular4={{base0D-hex}} # Blue
regular5={{base0E-hex}} # Magenta
regular6={{base0C-hex}} # Cyan
regular7={{base05-hex}} # White

# Bright colors
bright0={{base00-hex}}
bright1={{base08-hex}}
bright2={{base0B-hex}}
bright3={{base0A-hex}}
bright4={{base0D-hex}}
bright5={{base0E-hex}}
bright6={{base0C-hex}}
bright7={{base05-hex}}

# bright0={{base03-hex}}
# bright1={{base09-hex}}
# bright2={{base01-hex}}
# bright3={{base02-hex}}
# bright4={{base04-hex}}
# bright5={{base06-hex}}
# bright6={{base0F-hex}}
# bright7={{base07-hex}}

[scrollback]
indicator-position=fixed
indicator-format=percentage
