$main-color: rgba(#121212, 1.0);
$box-color: rgba(#f5f5f5, 0.1);
$rad: 12px;

.powermenu {
  background-color: $main-color;
  border: 2px solid $box-color;
  border-radius: $rad;
}

.widget {
  border-radius: $rad;
  padding: 12px;
  margin: 12px;
}

.active {
  background-color: $box-color;
}

.inactive {
  background-color: transparent;
}
