* {
  all: unset;
}

.powermenu {
  background-color: rgba(16, 16, 16, 0.5);
  border-radius: 6px;
}

.widget {
  border-radius: 6px;
  padding: 12px;
  margin: 12px;
}

.active {
  background-color: rgba(50, 50, 50, 0.75);
}

.inactive {
  background-color: transparent;
}
