@import "../base";

window {
    background: none;
}

.container {
    background-color: $bg;
    color: $fg;
    border: 2px solid $border;
    border-radius: $outrad;
    padding: 12px;
}

.icon {
    font-size: 26px;
    padding: 2px 0px;
}

.label {
    font-size: 18px;
    min-width: 32px;
}

scale trough {
    min-width: 150px;
    min-height: 18px;
}

scale trough slider {
    min-height: 18px;
}
