$alt-bg: #3a3a3a;
$accent: #378DF7;
$border: #3a3a3a;
$outrad: 12px;
$inrad: 8px;
$ininrad: 4px;

* {
    box-shadow: none;
    font-weight: bold;
}

popover {
    background: none;
}

popover > contents {
    background-color: var(--window-bg-color);
}

popover > arrow {
    background-color: var(--window-bg-color);
    //background: none;
}

button * {
    background-color: transparent;
}

button {
    color: var(--window-fg-color);
    background-color: transparent;
    border-radius: $inrad;
    padding: 4px 8px;

    &:hover {
        background-color: rgb(from var(--window-fg-color) r g b / 10%);
    }
}

image {
    font-size: 18px;
    font-weight: normal;
    padding: 0px;
}

scale {
    padding: 0px;
    min-height: 4px;
    margin: 4px 6px;
}

scale trough {
    min-height: 12px;
    background-color: rgb(from var(--window-fg-color) r g b / 10%);
    padding: 0px;
    border: none;
    border-radius: $outrad;
}

scale trough highlight {
    min-height: 12px;
    background-color: var(--window-fg-color);
    border-radius: $outrad;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

scale trough slider {
    background-color: var(--window-fg-color);
    padding: 0px;
    margin: -4px;
    box-shadow: 0px 0px 24px 2px #000000;
    border-radius: $outrad;
}
