@use "base" as base;

// Desktop

window.desktop-borders {
    background: none;
    margin: 0px;
    border: none;
}

box.desktop {
    background: none;
    border-radius: var(--window-radius);
    box-shadow: 0px 0px 0px 24px var(--window-bg-color);
    border: 1px solid rgb(from #121212 r g b / 80%);
}

// Bar

window.bar {
    background-color: transparent;
    border-radius: 0px;
}

window.bar > box {
    background-color: var(--window-bg-color);
    padding: 8px 2px;
}

box.workspaces {
    background-color: rgb(from var(--window-fg-color) r g b / 5%);
    margin-left: 4px;
    padding: 4px;
    border-radius: var(--window-radius);
}

button.workspace {
    color: var(--window-fg-color);
    transition: color .2s ease-out, background-color .2s ease-out;
    border-radius: base.$inrad;

    &:hover {
        background-color: rgb(from var(--window-fg-color) r g b / 10%);
    }
}

button.focused-workspace {
    color: var(--window-bg-color);
    background-color: var(--window-fg-color);
    transition: color .2s ease-in, background-color .2s ease-in;

    &:hover {
        background-color: rgb(from var(--window-fg-color) r g b / 50%);
    }
}

// App launcher

window.app-launcher {
    background-color: transparent;
    padding: 6px;
}

box.app-launcher {
    background-color: var(--window-bg-color);
    border: 1px solid #121212;
    border-radius: var(--window-radius);
    box-shadow: 0px 0px 6px 0px #121212;
}

entry.app-search {
    background-color: rgb(from var(--window-fg-color) r g b / 5%);
    padding: 4px 10px;
    border-radius: 0px;
    border-top-right-radius: var(--window-radius);
    border-top-left-radius: var(--window-radius);
    border-bottom: 1px solid #121212;
    outline: none;
}

list.apps-list {
    background-color: transparent;
    padding: 6px 8px;
}

list.apps-list > row {
    padding: 6px;
    margin: 2px 0px;
    border-radius: base.$inrad;

    &:selected {
        padding: 8px 10px;
        background-color: rgba(from var(--window-fg-color) r g b / 10%);
        box-shadow: 0px 0px 4px 0px #121212;
    }

    &:focus {
        outline: none;
    }
}

// Notifications

window.notification-popups {
    background-color: transparent;
    padding: 0px;
    border: none;

    & > box {
        background-color: transparent;
    }
}

window.notification-center {
    background: none;
    padding: 8px;

    & > box {
        background-color: var(--window-bg-color);
        border-radius: var(--window-radius);
        box-shadow: 0px 0px 6px 0px #121212;
        border: 1px solid #121212;
    }
}

box.notification-center-top-label {
    background-color: rgb(from var(--window-fg-color) r g b / 5%);
    border-bottom: 1px solid #121212;
    border-top-left-radius: var(--window-radius);
    border-top-right-radius: var(--window-radius);
    padding: 8px;

    & > label {
        font-size: 125%;
    }
}

box.notification-center-dnd {
    background-color: rgb(from var(--window-fg-color) r g b / 5%);
    border-top: 1px solid #121212;
    border-bottom-left-radius: var(--window-radius);
    border-bottom-right-radius: var(--window-radius);
    padding: 8px;
}

box.notification {
    background-color: var(--window-bg-color);
    padding: 6px;
    margin: 8px;
    border: 1px solid #121212;
    box-shadow: 0px 0px 4px 0px #121212;
    border-radius: base.$inrad;

    & > box.notification-top-label {
        background-color: rgb(from var(--window-fg-color) r g b / 5%);
        margin: -6px;
        margin-bottom: 2px;
        padding: 8px;
        border-top-left-radius: base.$inrad;
        border-top-right-radius: base.$inrad;

        & > button.notification-close-button {
            padding: 0px;
            border-radius: var(--window-radius);
            background-color: rgba(from var(--window-fg-color) r g b / 10%);

            &:hover {
                background-color: rgba(from var(--window-fg-color) r g b / 20%);
            }
        }
    }

    & > box.notification-actions > button {
        background-color: rgba(from var(--window-fg-color) r g b / 10%);
        border-radius: base.$ininrad;

        &:hover {
            background-color: rgba(from var(--window-fg-color) r g b / 20%);
        }
    }
}

// Audio Popover

box.audio-popover-box > button {
    background-color: rgba(from var(--window-fg-color) r g b / 5%);

    &:hover {
        background-color: rgba(from var(--window-fg-color) r g b / 10%);
    }
}

box.audio-popover-controls > button {
    padding: 0px;
    background-color: transparent;
}

// OSDs

window.osd-window,
box.osd-box {
    background-color: transparent;
    padding: 0px;
}

box.osd {
    color: var(--window-fg-color);
    background-color: var(--window-bg-color);
    font-size: 110%;
    margin: 8px;
    border-radius: var(--window-radius);
    border: 1px solid #121212;
    box-shadow: 0px 0px 4px 0px #121212;

    & > * {
        padding: 8px;
    }

    & > label {
        border-top-left-radius: var(--window-radius);
        border-top-right-radius: var(--window-radius);
        background-color: rgba(from var(--window-fg-color) r g b / 5%);
    }
}

// Power/Display popover

popover.power-display > content {
    padding: 0px;
    border: 1px solid #121212;
}

box.power-display-top-label {
    background-color: rgba(from var(--window-fg-color) r g b / 5%);
    margin: -8px;
    margin-bottom: 0px;
    padding: 4px 8px;
    padding-right: 4px;
    border-bottom: 1px solid #121212;
    font-size: 125%;
}

box.power-profiles-dropdown {
    padding: 0px 4px;

    & > dropdown {
        margin: 0px;
    }
}
