* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK JP";
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

tooltip.background {
  background-color: rgba(0, 0, 0, 0.75);
}

.bar {
  background-color: rgba(16, 16, 16, 1.0);
  /*background-color: transparent;*/
}

.tray,
.workspaces,
.left {
  margin: 6px;
  padding: 6px;
  /*border-radius: 8px;*/
  background-color: transparent;
  /*background-color: rgba(50, 50, 50, 0.5);*/
}

.tray-item,
.time,
.date {
  padding: 0px 6px;
}

.time {
  padding-left: 0px;
}

.control-center-item {
  padding-right: 0px;
}

.active-ws {
  font-weight: bold;
}

.occupied-ws {
  color: #505050 /* rgba(50, 50, 50, 0.5) */;
}

.active-ws,
.occupied-ws {
  padding: 0px 4px;
}

.icon {
  padding: 0px 12px;
  padding-right: 6px;
}

.clock-icon {
  padding: 0px 6px;
  padding-left: 4px;
}

.time-slide-text {
  padding-left: 8px;
}
