@import "../base";

window.NCWindow {
    background-color: $bg;
    color: $fg;
    border: 2px solid $border;
    border-radius: $outrad;
}

window.Notifications {
    background: none;
}

window.NCWindow > * {
    padding: 0px 4px;
}

button.action {
    background-color: $alt-bg;
    margin: 2px;
    border-radius: $inrad;

    &:hover {
        background-color: rgba($alt-bg, 0.9);
    }
}

button.notification-button * {
    //font-size: 18px;
    //padding: 2px 4px;
}

button.notification-active-button * {
    font-size: 24px;
    padding: 0px 1px;
}

button.notification-action-button {
    background-color: $alt-bg;

    &:hover {
        background-color: rgba($alt-bg, 0.75);
    }
}

icon.notification-icon {
    font-size: 24px;
    border-radius: $inrad;
}

box.Notification {
    background-color: $bg;
    border-radius: $outrad;
    border: 2px solid $border;
    padding: 2px;
    margin: 4px;
}

box.Notification, box.NC > box {
    background-color: $bg;
    //border-radius: $inrad;
    padding: 2px;
}

box.Notification box {
    background-color: transparent;
    padding: 2px;
}

box.Notification button {
    background-color: rgba($fg, 0.05);
    border-radius: $inrad;

    &:hover {
        background-color: rgba($fg, 0.1);
    }
}

.notification-body * {
    // font-weight: normal;
    padding: 0px;
    margin: 0px;
    border: none;
    padding-right: 4px;
}

box.nc-top-label {
    padding: 8px 16px;
    margin: -4px;
    margin-bottom: 0px;
    border-radius: 0px;
    border-top-left-radius: $outrad;
    border-top-right-radius: $outrad;
    border-bottom: 2px solid $border;
    background-color: $alt-bg;
    font-size: 125%;
}

.nc-no-notifications-label {
    padding: 8px;
    margin: 4px;
    margin-top: 0px;
    border-radius: 0px;
    // border-top: 2px solid rgba($fg, 0.1);
}

.nc-scrollable, .nc-scrollable > * {
    background: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 4px;
    border: 0px;
    border-radius: $outrad;
}

box.nc-container {
    margin: 4px;
}

box.Notification box.notification-top-box {
    font-weight: normal;
    color: rgba($fg, 0.9);
    padding: 2px;
    margin: -2px;
    margin-bottom: 2px;
    border-radius: 0px;
    border-top-left-radius: $inrad;
    border-top-right-radius: $inrad;
    border-bottom: 2px solid $border;
    background-color: $alt-bg;
}

box.Notification box.notification-top-box button {
    background-color: transparent;
    padding: 0px;

    &:hover {
        color: #363636;
    }
}
