* {
	background: transparent;
	box-shadow: none;
}

.nm-text {
	font-family: "Rubik", sans-serif;
}

.nm-source {
	font-size: 14px;
	color: #757575;
}

.nm-summary {
	font-size: 16px;
	font-weight: bold;
	color: #f5f5f5;
}

.nm-body {
	font-size: 14px;
}

.nm-parent {
	padding: 8px;
	border: 2px solid #363636;
	border-radius: 8px;
}

.nc {
	background-color: #121212;
	padding: 12px;
	padding-top: 8px;
	border: 2px solid #252525;
	border-radius: 8px;
}

.nc-text {
	margin-left: 8px;
	font-size: 18px;
	font-weight: bold;
}
 /*
.nc-text, .nc-clear {
	margin-bottom: 8px;
}
*/

.nc-details {
	padding-bottom: 4px;
	margin-bottom: 12px;
	border-bottom: 1px solid #505050;
}

.placeholder-text {
	font-size: 16px;
}
