.bar { 
  background-color: $background;
  padding: 12px 0px;
}

.tray-item,
.date {
  color: $foreground;
  padding: 0px 12px;
  border-left: 2px solid rgba($foreground, 0.1);
}

.wifi { border: 0px; }

.workspaces {
  border-radius: $rad;
}

.time,
.time-pak {
  color: $foreground;
  padding: 0px 12px;
}

.occupied-monitor-ws,
.active-monitor-ws,
.occupied-ws {
  margin: 0px 8px;
  border-radius: $rad;
}

.active-monitor-ws {
  color: $background;
  //background: linear-gradient(90deg, $foreground, $accent);
  background-color: $accent;
  padding: 0px 40px;
}

.occupied-monitor-ws {
  color: $background;
  background-color: rgba($accent, 0.5);
  padding: 0px 40px;
}

.occupied-ws {
  color: rgba($foreground, 0.4);
  background-color: rgba($accent, 0.1);  
  padding: 0px 20px;
}

.ws-separator {
  border-right: 2px solid rgba($foreground, 0.1);
  margin: 0px 4px;
}

.pwr-widget,
.ss-widget {
  border-radius: $rad;
}

.pwr-active,
.ss-active {
  color: $background;
  background-color: $accent;
  // background: linear-gradient(90deg, $foreground, $accent);
  padding: 0px 20px;
}

.pwr-inactive,
.ss-inactive {
  background-color: transparent;
}

.icon { padding: 0px 4px; }

.systray-icon { margin-right: 8px; }

.tray menu {
  background-color: $background;
  color: $foreground;
  >menuitem {
    &:hover {
      background-color: $foreground;
      color: $background;
    }
  }
}

tooltip {
  background-color: $background;
  color: $foreground;
}

.corners-left-alt {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 12px;
  border-radius: 12px;
  box-shadow: -12px 12px 0px 0px $background;
}

.corners-right-alt {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 12px 12px 0px 0px $background;
}

.corners-left {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 12px;
  border-radius: 12px;
  box-shadow: -12px -12px 0px 0px $background;
}

.corners-right {
  margin: 0px;
  border: 0px;
  background-color: transparent;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 12px -12px 0px 0px $background;
}

.osd {
  background-color: $background;
  border: 2px solid rgba($foreground, 0.05);
  border-radius: $rad;
  padding: 8px;
}

.osd scale {
  color: $foreground;
  padding: 0px;
}

.osd scale trough {
  background-color: rgba($accent, 0.1);
  margin-left: 10px;
  margin-right: 12px;
  min-height: 20px;
  min-width: 200px;
  border-radius: $rad;
}

.osd scale trough highlight {
  background-color: $accent;
  margin: 1px;
  border-radius: $rad;
}

.osd scale trough slider {
  background: transparent;
}

.osd-icon {
  padding-left: 12px;
}
