// $background: #121212;
// $foreground: #f5f5f5;
// $accent-color: #c5cdda;
$rad: 4px;

@import "colors";
@import "styling";

* {
  font-family: "IBM Plex Sans", "Noto Sans CJK JP", "Material Symbols Rounded";
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
}

