$bg-color: #121212;
$fg-color: #c5cdda;
$accent-color: #dfc7ab;
$rad: 4px;

// Empty workspaces
// @import "pillws";

// Numbered workspaces
@import "styling";

* {
  font-family: "IBM Plex Sans", "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
}

